<div id="<%= dom_id post %>" class="post-container">
  <h2 class="post-title"><%= post.title %></h2>
  <h6><%= pluralize(post.views,"view") %></h6>
  <div class="post-body">
    <%= post.body %>
  </div>
</div>